

<!--<h1>{{title}}</h1>

<h1>welcome {{firstname}} {{lastname}}</h1>

<button [disabled]="isDisabled">click me</button>

<button (click)=onSubmit()>submit</button>

<input type="text" name="value" [(ngModel)]="value"/>
<h1>{{value}}</h1>

<ul>
    <li *ngFor="let i of months">{{i}}</li>
</ul>

<p *ngIf="isDisabled">this is a parragraph</p>

<p *ngIf="isDisabled else elseblock">this condition is true </p>

<ng-template #elseblock>this is condition is executed when  it is false</ng-template>

<div *ngIf="isDisabled then thenblock else elseblock"></div>
<ng-template #thenblock>then is executed</ng-template>


<div [ngSwitch]="num">
  <div *ngSwitchCase="'1'">one</div>
  <div *ngSwitchCase="'2'">two</div>
  <div *ngSwitchCase="'3'">three</div>
  <div *ngSwitchCase="'4'">four</div>
  <div *ngSwitchDefault>this is default</div>
</div>

<p [ngClass]="'red size20'">this is a paragraph with red color and size20</p>

<p [ngClass]="['red','size20']">this is  aparagraph using the ngclass with array</p>

<p [ngClass]="{'red':false,'size20':true}">this is  aparagraph using the ngclass with array</p>

<p [ngStyle]="{'color':'purple'}">this is using ngstyle directive</p>

<p [ngStyle]="{'color':'purple','font-size':'40px','font-weight':'bold'}">this is using ngstyle directive</p>


<b>{{firstname | uppercase}}</b>
<b>{{firstname | lowercase}}</b>

<b>{{todaydate | date:'d/M/y'}}</b>
<b>{{todaydate | date:'shortTime'}}</b>

<b>{{jsonval | json}}</b>
-->
<app-reactive-form></app-reactive-form>



